html {
  font-size: 62.5%;
}

.body {
  font-family: sans-serif;

  &:before {
    display: none;
    @each $breakpoint in map-keys($breakpoints) {
      @include breakpoint($breakpoint) {
        content: $breakpoint;
      }
    }
  }
}

.body {
  font-size: var(--base-font-size);
  font-family: var(--font-family-sans-serif);
}

.svg {
  width: 100%;
}

.container {
  width: calc(100% - 4rem);
  margin: 0 auto;
  max-width: var(--screen-desktop-large);
}

.main {
  display: grid;

  @include breakpoint(tablet-portrait) {
    grid-template-columns: 1fr 1fr;
  }
}

.huge {
  font-size: var(--huge-text, 5rem);
}

.tiny {
  font-size: var(--tiny-text, 1.2rem);
}