html {
  font-size: 62.5%;
}

.body {
  font-family: sans-serif;
  font-size: var(--base-font-size);
  font-family: var(--base-font);
  color: var(--color-deep);
  background-color: var(--color-white);


  &:before {
    display: none;
    @each $breakpoint in map-keys($breakpoints) {
      @include breakpoint($breakpoint) {
        content: $breakpoint;
      }
    }
  }
}

.svg {
  width: 100%;
}

.container {
  width: calc(100% - 4rem);
  margin-inline: auto;
  max-width: var(--screen-desktop-large);
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.huge {
  font-size: var(--huge-text, 5rem);
}

.tiny {
  font-size: var(--tiny-text, 1.2rem);
}