.alchemy-wheel {
  --svg-fill-color: var(--color-white);
  --svg-stroke-color: var(--color-deep);
  --svg-star-fill: var(--color-gold); 
  --svg-star-opacity: 0.2;

  max-height: 100vh;
}

.copper .copper,
.silver .silver,
.iron .iron,
.mercury .mercury, 
.zinc .zinc,
.tin .tin,
.lead .lead,
.platinum .platinum,
.nickel .nickel,
.gold .gold {
  --svg-stroke-color: var(--color-gold);
}