.alchemy-wheel {
  --svg-fill-color: #{rgba($color-dull, 0.2)};

  position: fixed;
  inset: 0;
  z-index: -1;
  opacity: 0.75;
  max-height: 100vh;
}

.copper,
.silver,
.iron,
.mercury, 
.zinc,
.tin,
.lead,
.platinum,
.nickel,
.gold {
  --svg-fill-color: #{rgba($color-dull, 0.2)};
}

.copper .copper,
.silver .silver,
.iron .iron,
.mercury .mercury, 
.zinc .zinc,
.tin .tin,
.lead .lead,
.platinum .platinum,
.nickel .nickel,
.gold .gold {
  --svg-fill-color: var(--color-contrast);
}