.birth-label,
.birth-input,
.birth-button {
  display: block;
}

.birth-label {
  margin-bottom: 0.5ex;
}

.birth-input,
.button {
  appearance: none;
  border: 4px solid currentColor;
  padding: 0.5rem 1.5rem;
}

.birth-input {
  font-family: inherit;
  font-size: 2rem;
  background-color: var(--color-light);
  color: var(--color-dark);
  margin-bottom: 2rem;
}

.button {
  background-color: var(--color-foreground);
  color: var(--color-background);
  font-family: var(--base-font);
  font-size: 2.4rem;
  cursor: pointer;
}
