.birth-label,
.birth-input,
.birth-button {
  display: block;
}

.birth-label {
  margin-bottom: 0.5ex;
}

.birth-input,
.button {
  appearance: none;
  border: 1px solid var(--color-dark);
  border-radius: 2px;
  padding: 0.5rem 1.5rem;
  // margin-inline: auto;
}

.birth-input {
  font-family: inherit;
  font-size: inherit;
  margin-bottom: 2rem;
}

.button {
  background-color: var(--color-dark);
  color: var(--color-light);
  border-color: var(--color-accent);
  font-family: var(--base-font);
  font-size: 2.4rem;
  cursor: pointer;
}
