.results-date {
  margin-bottom: 0.5ex;
}

.results-symbol {
  margin-block: 0;
}

.results-element {
  margin-block: 0 0.5ex;
}

.results-planet {
  margin-block: 0 4.5rem;
}

.element {
  color: var(--color-accent);
}

.planet {
  text-transform: capitalize;
}
