.results-date {
  margin-bottom: 0.5ex;
}

.results-symbol {
  margin-block: 0;
}

.results-element {
  color: var(--color-dark);
  margin-block: unset;
}

.element {
  color: var(--color-accent);
}

.planet {
  text-transform: capitalize;
}
