.zodiac-intro {
  em {
    font-style: normal;
    font-weight: 700;
  }
}

.signs {
  counter-reset: zodiac;

  p {
    margin-top: 0;
  }
}

.sign-name {
  font-family: var(--font-family-serif);
  font-weight: 400;
  margin-bottom: 1rem;

  :target & {
    // color: var(--color-accent);
    font-size: 1.8em;
  }
}

.sign-name:before {
  counter-increment: zodiac;
  content: counter(zodiac) ".";
  display: inline;
  margin-right: 1ch;
  font-size: 1.5em;
}

.quote {
  font-family: var(--font-family-serif);
  font-size: 1.2em;
  line-height: 1.5;
  margin: 1.5em 0;
  padding-left: 1em;
  border-left: 4px solid var(--color-accent);
}
