:root {
  --screen-phone-portrait: 321px;
  --screen-phone-landscape: 481px;
  --screen-tablet-portrait: 601px;
  --screen-tablet-landscape: 769px;
  --screen-desktop: 961px;
  --screen-desktop-large: 1280px;
  --base-font: sans-serif;
  --base-font-size: 2rem;
  --font-family-sans-serif: 'Chivo', sans-serif;
  --font-weight-light: 300;
  --font-weight-black: 900;
}

html {
  font-size: 62.5%;
}

.body {
  font-family: sans-serif;
}

.body:before {
  display: none;
}

@media (min-width: 321px) {
  .body:before {
    content: "phone-portrait";
  }
}

@media (min-width: 481px) {
  .body:before {
    content: "phone-landscape";
  }
}

@media (min-width: 601px) {
  .body:before {
    content: "tablet-portrait";
  }
}

@media (min-width: 769px) {
  .body:before {
    content: "tablet-landscape";
  }
}

@media (min-width: 961px) {
  .body:before {
    content: "desktop";
  }
}

@media (min-width: 1280px) {
  .body:before {
    content: "desktop-large";
  }
}

.body {
  font-size: var(--base-font-size);
  font-family: var(--font-family-sans-serif);
}

.svg {
  width: 100%;
}

.container {
  width: calc(100% - 4rem);
  margin: 0 auto;
  max-width: var(--screen-desktop-large);
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.huge {
  font-size: var(--huge-text, 5rem);
}

.tiny {
  font-size: var(--tiny-text, 1.2rem);
}

.birth-label,
.birth-input,
.birth-button {
  display: block;
  margin-bottom: 1rem;
}

.birth-label {
  font-size: 1.4rem;
}

.results-container {
  max-width: 60ch;
  margin-inline: auto;
}

.results-symbol {
  margin-block: 0;
}
