:root {
  --screen-phone-portrait: 321px;
  --screen-phone-landscape: 481px;
  --screen-tablet-portrait: 601px;
  --screen-tablet-landscape: 769px;
  --screen-desktop: 961px;
  --screen-desktop-large: 1280px;
  --base-font-size: 2rem;
  --font-family-serif: "Jacquard 12", cursive;
  --font-family-mono: "VT323", monospace;
  --base-font: var(--font-family-mono);
  --font-weight-light: 300;
  --font-weight-black: 800;
  --color-accent: #c8b59e;
  --color-light: #fcfbf9;
  --color-dark: #332a63;
  --svg-fill-color: var(--color-accent);
  --color-background: var(--color-light);
  --color-foreground: var(--color-dark);
}

.body {
  font-family: sans-serif;
  font-size: var(--base-font-size);
  font-family: var(--base-font);
  color: var(--color-foreground);
  background-color: var(--color-background);
  text-wrap: balance;
}

.body:before {
  display: none;
}

@media (min-width: 321px) {
  .body:before {
    content: "phone-portrait";
  }
}

@media (min-width: 481px) {
  .body:before {
    content: "phone-landscape";
  }
}

@media (min-width: 601px) {
  .body:before {
    content: "tablet-portrait";
  }
}

@media (min-width: 769px) {
  .body:before {
    content: "tablet-landscape";
  }
}

@media (min-width: 961px) {
  .body:before {
    content: "desktop";
  }
}

@media (min-width: 1280px) {
  .body:before {
    content: "desktop-large";
  }
}

@media (prefers-color-scheme: dark) {
  .body {
    --color-background: var(--color-dark);
    --color-foreground: var(--color-light);
  }
}

.svg {
  width: 100%;
}

.container {
  width: calc(100% - 4rem);
  margin-inline: auto;
}

.hidden {
  display: none;
}

.huge {
  font-family: var(--font-family-serif);
  font-size: clamp(4rem, 10vw, 6.5rem);
  font-weight: 400;
  line-height: 0.85em;
}

.tiny {
  font-size: var(--tiny-text, 1.2rem);
}

.icon-holder svg {
  width: 3rem;
  height: 3rem;
}

@media (min-width: 601px) {
  .icon-holder svg {
    max-width: 60ch;
  }
}

.birth-label,
.birth-input,
.birth-button {
  display: block;
}

.birth-label {
  margin-bottom: 0.5ex;
}

.birth-input,
.button {
  appearance: none;
  border: 1px solid var(--color-foreground);
  border-radius: 2px;
  padding: 0.5rem 1.5rem;
}

.birth-input {
  font-family: inherit;
  font-size: inherit;
  margin-bottom: 2rem;
}

.button {
  background-color: var(--color-foreground);
  color: var(--color-background);
  border-color: var(--color-accent);
  font-family: var(--base-font);
  font-size: 2.4rem;
  cursor: pointer;
}

.results-date {
  margin-bottom: 0.5ex;
}

.results-symbol {
  margin-block: 0;
}

.results-element {
  color: var(--color-foreground);
  margin-block: 0 0.5ex;
}

.results-planet {
  margin-block: 0 4.5rem;
}

.element {
  color: var(--color-accent);
}

.planet {
  text-transform: capitalize;
}
