:root {
  @each $name, $value in $breakpoints {
    --screen-#{$name}: #{$value};
  }

  --base-font-size: clamp(1.2rem, 2.5vw, 2rem);
  --font-family-serif: "Jacquard 12", cursive;
  --font-family-mono: "VT323", monospace;
  --base-font: var(--font-family-mono);
  --font-weight-light: 300;
  --font-weight-black: 800;
  --color-accent: #{$color-gold};
  --color-light: #{$color-white};
  --color-dark: #{$color-black};
  --svg-fill-color: var(--color-accent);
  --color-background: var(--color-light);
  --color-foreground: var(--color-dark);
}
