@font-face {
  font-family: "712_serif";
  src: url("../assets/fonts/712serif-regular-webfont.woff2") format("woff2"),
    url("../assets/fonts/712serif-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  letter-spacing: 0.1ch;
}
